.photome {
    display: flex;
    margin-top: 160px;
    border: 5px solid rgb(176, 194, 169);
    border-radius: 25px;
}

#abouttext {
    font-size: 30px;
    font-family: 'Caveat', cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 35px;
    color: black;
    width: 560px;
    line-height: 40px;
}